@import "vars"


@media only screen and (max-width: 1199px)
  .menu li
    margin: 0 20px 0 0

  .logo-icon
    max-width: 120px

  .logo
    font-size: 10px

  header
    .btn
      padding: 0 10px

  .btn-burger
    margin: 0 0 0 20px

  .form
    label, .btn
      max-width: 240px

    .btn
      height: 32px
      font-size: 14px

    input
      font-size: 14px

  input, textarea, select
    height: 32px

  .btn-burger
    width: 31px
    height: 24px

    span
      height: 3px

  .certification-wrapper-body
    padding: 20px

  .gallery-reviews__item
    max-width: 80px

  .scheme-of-work-box
    min-width: 212px
    margin: 0 20px 20px 0
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1)
    .btn
      display: flex

  .decor-line
    min-width: 60px
    margin: 0 38px 0 0
    &:last-child
      margin: 0

  .calculate-content
    margin: 0 20px 0 0

  .calculate-img
    max-width: 180px
    top: -60px

  .type-ceiling-item
    max-width: 260px

  .portfolio-slider-item
    max-width: 300px

  .portfolio-item
    height: 280px

  .type-product-slider__item
    height: 200px
    max-width: 300px

  .list-articles-slider .articles-item
    max-width: 300px
    height: 270px
    font-size: 16px

@media only screen and (max-width: 991px)
  .menu
    font-size: 14px

  .btn-group .btn
    margin: 0 10px 0 0

  .header-box
    font-size: 10px

  .address
    font-size: 8px

  .phone
    font-size: 16px

  header
    .btn
      font-size: 12px
      padding: 0 6px
    .logo-text
      display: none

  .logo-icon
    max-width: 100px

  .form
    label
      max-width: 240px
      margin: 0 20px 20px 0
    .btn
      max-width: 240px

  .main
    padding: 156px 0 22px

  footer
    padding: 20px 0 12px
    .header-box
      justify-content: center
      align-items: center
      text-align: center
    .logo-icon
      max-width: 180px
    .logo
      font-size: 13px
    .phone-icon
      fill: #000000

  .mail
    max-width: none
    justify-content: center

  .mail-icon
    fill: #000000

  .footer-menu
    margin: 20px 0 10px
    li
      margin: 0 0 14px

  .certification-wrapper-bottom
    padding: 14px 0
    font-size: 16px

  .certificate-box
    min-width: 152px
    border: none
    margin: 0 20px 0 0
    &:last-child
      margin: 0

  .calculate-content
    max-width: 300px
    margin: 0 50px 0 0

  .type-ceiling-item-max
    min-width: 260px
    margin: 0 20px 0 0

  .portfolio-section
    padding: 20px 0 0

  .page-home
    padding: 20px 0 26px
    .form
      margin: 20px 0 0
    h1
      max-width: none
    p
      font-size: 16px

  .type-product-slider__item
    height: 150px
    max-width: 240px

  .sidebar-menu
    font-size: 16px

@media only screen and (max-width: 767px)
  header
    .logo-text, .menu
      display: none
    .btn-group
      width: 100%
      justify-content: center
    .btn
      font-size: 14px
      padding: 0
      max-width: 140px
      width: 100%
    .btn-border
      color: #333
    .logo-icon
      max-width: 80px
    .header-box
      width: 100%
      flex-direction: row
      align-items: center
      margin: 10px 0
      position: relative
      p
        max-width: 112px
        width: 100%
        text-align: right
        right: 0
        top: 0
        position: absolute
      .address
        text-align: right
        max-width: 112px
        width: 100%
        margin: 0 0 0 auto
        padding: 30px 0 0
    .phone-wrapper
      margin: 0
      order: -1

  .phone-wrapper
    padding: 0 0 0 30px

  .dropdown-burger
    display: none

  .location-item
    display: none

  .header-wrapper
    .btn-group
      display: none

  .btn-burger-mobile
    display: flex

  .btn-group .btn
    margin: 0 20px 0 0

  .main
    min-height: auto
    h1
      font-size: 24px
    p
      margin: 10px 0 14px
      font-size: 16px

  .list-advantages-item
    margin: 0 20px 10px 0
    &:last-child
      margin: 0 0 10px

  .main-form
    p
      margin: 0 0 20px

  .links-doc
    margin: 0 auto 20px

  h2
    font-size: 24px
    margin: 0 0 10px

  .box-text
    font-size: 14px

  .callback
    padding: 0 0 30px
    .box-text
      font-size: 14px
      margin: 0 0 20px
    .form
      label
        margin: 0 0 20px

  .p-50
    padding: 30px 0

  input, textarea, select
    font-size: 14px
    height: 32px

  .list-articles
    li
      width: 49%
      margin: 0 0 20px

  .articles
    h2
      margin: 0 0 20px

  .articles-item
    font-size: 16px

  .certification
    padding: 30px 0 25px
    .box-text
      font-size: 14px

  .reviews
    padding: 0 0 30px
    .box-text
      font-size: 14px

  .question-box-btn
    font-size: 18px
    padding: 15px 14px

  .question-box .card
    padding: 0 14px 15px
    font-size: 14px

  .question
    h2
      margin: 0 0 20px

  .table td, .table th
    padding: 12px 16px

  .table td:last-child, .table th:last-child
    padding: 8px
    width: 30%

  .mb-50
    margin-bottom: 20px

  .advantages
    padding: 30px 0 0

  .calculate-img
    display: none

  .calculate-total
    max-width: none

  .calculate-content
    margin: 0 0 20px
    max-width: none
    width: 100%

  .calculate-range-slider
    max-width: none

  h1
    font-size: 36px

  .section-title
    padding: 37px 0 48px

  .type-ceiling-two
    padding: 20px 0 0

  .title-decor
    border-bottom-width: 2px

  .type-ceiling-three
    margin: 20px 0 0

  .seo-section
    padding: 30px 0
    h3
      font-size: 24px
      margin: 0 0 12px
    h4
      font-size: 18px

  .services-box__title
    padding: 9px 10px 11px 40px

  .services-box
    height: 300px

  .salary
    font-size: 18px
    strong
      font-size: 20px

  .vacancy-box
    padding: 10px 10px 24px

  .article-box__body
    max-width: none
    margin: 10px 0 0
    .btn
      margin: 25px 0 0

  .article-box__date
    order: -1
    margin: 0 0 10px

  .article-box__title
    font-size: 20px
    margin: 0 0 12px

  .article-section
    padding: 30px 0 0

  .portfolio-slider-item
    max-width: 95%

  .page-home
    .list-advantages
      display: none
    h1
      font-size: 24px
      margin: 0 0 12px
    .form
      label
        margin: 0 0 10px
      h4
        display: none

  .video-wrapper
    border-radius: 0
    height: 207px

  .btn-play-video
    width: 48px
    height: 47px

  .map
    height: 214px

  .contacts-box
    margin: 0 0 20px

  .list-requisites
    font-size: 16px
    strong
      max-width: 113px
    p
      max-width: 154px

  .service-page
    .box-text
      font-size: 14px
      margin: 0 0 12px
      ul
        li
          margin: 0 0 10px
    h3
      font-size: 18px
      margin: 0 0 12px

  .service-slider
    .type-product-slider__item
      width: 260px
      height: 240px
      margin: 0 20px 0 0

@media only screen and (max-width: 650px)
  .list-articles-slider
    li
      width: 100%
      display: none
      &:nth-child(-n+3)
        display: block

  .articles-two
    margin: 0

@media only screen and (max-width: 576px)
  .list-advantages-item:last-child
    margin: 0 0 14px

  .form
    label
      margin: 0 0 10px
      max-width: none
    .btn
      max-width: none

  .form-callback
    max-width: none

  .certification-wrapper-body
    border: none
    padding: 0 0 20px

  .certification-wrapper-bottom
    border-radius: 8px

  .form-calculate-column
    margin: 0
    width: 49%

  .form-calculate-row
    justify-content: space-between

  .input-value-item
    width: 100%

  .form-calculate
    padding: 20px 10px 23px

  .rooms
    .btn
      font-size: 14px
      max-width: 140px
      background: transparent
      border: 1px solid #fff

  .room-item
    width: 140px
    margin: 0 10px 18px 0

  .type-ceiling-item
    margin: 0 20px 0 0

  .salary
    width: 100%
    margin: 12px 0 0

  .sales
    padding: 20px 0 0
    .box-text
      font-size: 14px

  .present-icon
    width: 119px
    height: 112px
    right: -5px

  .sale-box
    padding: 30px 10px

  .sale-val
    width: 285px
    height: 205px

  .article-section-item__gallery
    height: 150px

  .portfolio-item
    height: 200px

  .type-product-slider__item
    margin: 0 20px 0 0

  .type-product-slider
    margin: 20px 0 0

  .type-product
    font-size: 14px

@media only screen and (max-width: 480px)
  .footer-menu li
    width: 50%

  .list-articles
    li
      width: 100%

  .btn-service
    max-width: none

@media only screen and (max-width: 420px)
  header
    .btn-group
      justify-content: space-between
      .btn
        margin: 0

  .portfolio-item
    height: 140px
    margin: 0 0 20px

  .list-requisites
    li
      strong
        max-width: none
      p
        text-align: left
        max-width: none
